<div ng-controller="LandingPageController">
    <div class="no-padding dashboard">
        <div style="width: 100%;">
            <div class="bar sub-header item-input-inset no-padding">
                <!--<i class="icon icon-info28 info-icon"></i><span class="info">Your profile<span class="balanced"> successfully</span> sync with server.</span>-->
                <i class="icon icon-info28 info-icon"></i><span class="info" id="TaskSyncStatus"></span>
                <div class="item-input-wrapper"></div>
                <div>
                    <a ng-click="SyncTask()" class="button button-icon icon icon-synchronization2"></a>
                    <!--<a href="javascript:void(0)" class="button button-icon icon icon-social13"></a>-->
                </div>
            </div>
        </div>
        <div style="width: 100%;">
            <div class="bar sub-header energized item-input-inset no-padding">
                <!--<i class="icon icon-sign92 info-icon energized"></i><span class="info">You have<span class="energized"> 2</span> completed audits waiting for Sync.</span>-->
                <div class="item-input-wrapper"></div>
                <div>
                    <!--<a href="javascript:void(0)" class="button button-icon icon icon-synchronization2"></a>
                    <a href="javascript:void(0)" class="button button-icon icon icon-arrow68"></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-content dashboard-content fade-in">
        <div class="bar sub-header item-input-inset padding-horizontal">
            <span style="text-transform: uppercase; margin-right: 50px;">Your Task List</span>
            <div class="item-input-wrapper">
                <!--<buttons-tab class="button-bar my-audit" data-toggle="buttons-radio-Custom" model='IntegrityToggle' options='MyAuditStatus'></buttons-tab>-->
                <buttons-radio-custom class="button-bar my-audit" data-toggle="buttons-radio-Custom" model='MyAudit' options='MyAuditTab' "></buttons-radio-custom>
            </div>           
            <div class="top-header-select">
                <span class="icon icon-angle-down"></span>
                <select id="ViewDropdown" onchange="PageViewChangeEvent()"></select>                
            </div>
            <a class="button button-icon icon icon-filter" ng-click="AdvFilterChange()"></a>
        </div>
        <div class="scroll-content has-header has-footer">
            <div class="full-height scrollable">
                <div class="list no-margin" ng-show="TaskContentPast" id="TaskContentPast">
                </div>
                <div class="list no-margin" ng-show="TaskContentToday" id="TaskContentToday">
                </div>
                <div class="list no-margin" ng-show="TaskContentFuture" id="TaskContentFuture">
                </div>
            </div>
        </div>
        <div class="bar bar-footer no-padding">
            <div class="button-bar">
                <button class="button ng-binding active" name="StatusType" id="StatusType1" ng-click="StatusTypeChange(1)"><div class=" stat-count not-started" id="OverallStatus"></div>Overall</button>
                <button class="button ng-binding" name="StatusType" id="StatusType2" ng-click="StatusTypeChange(2)"><div class=" stat-count not-started" id="NotStartedStatus"></div>Not Started</button>
                <button class="button ng-binding" name="StatusType" id="StatusType3" ng-click="StatusTypeChange(3)"><div class="stat-count in-progress" id="InProgressStatus"></div>In Progress</button>
                <button class="button ng-binding" name="StatusType" id="StatusType4" ng-click="StatusTypeChange(4)"><div class="stat-count missed" id="MissedStatus"></div>Missed</button>
                <button class="button ng-binding" name="StatusType" id="StatusType5" ng-click="StatusTypeChange(5)"><div class="stat-count not-synced" id="NotSyncedStatus"></div>Not Synced</button>
                <button class="button ng-binding" name="StatusType" id="StatusType6" ng-click="StatusTypeChange(6)"><div class="stat-count completed" id="CompletedStatus"></div>Completed</button>
                <button class="button ng-binding" name="StatusType" id="StatusType7" ng-click="StatusTypeChange(7)"><div class="stat-count synced" id="SyncedStatus"></div>Synced</button>
                <button class="button ng-binding" name="StatusType" id="StatusType8" ng-click="StatusTypeChange(8)"><div class="stat-count approved" id="ApprovedStatus"></div>Approved</button>
            </div>
        </div>
    </div>
    <div class="backdrop visible active" ng-show="ActionSheet" ng-click="BackgroundVisble()">
        <div class="actionsheet">
            <div class="row text-center">
                <a class="col" ng-click="DownloadDCProfile()" ng-click="ActionSheet = !ActionSheet">
                    <i class="icon icon-social13 synced-color"></i>
                    <div class="btn-txt">Download</div>
                </a>
                <a class="col" ng-click="LoadNewDC()">
                    <i class="icon icon-edit completed-color"></i>
                    <div class="btn-txt">New DC</div>
                </a>
                <a class="col" ng-click="LoadViewDC()">
                    <i class="icon icon-eye completed-color"></i>
                    <div class="btn-txt">View DC</div>
                </a>
                <a class="col" ng-click="UploadDC()">
                    <i class="icon icon-arrow68 synced-color"></i>
                    <div class="btn-txt">Upload</div>
                </a>
                <!--<a class="col">
                    <i class="icon icon-thumb-up-outline-symbol approved-color"></i>
                    <div class="btn-txt">Approve</div>
                </a>
                <a class="col" ng-click="ActionSheet = !ActionSheet; PopupShow = !PopupShow">
                    <i class="icon icon-info"></i>
                    <div class="btn-txt">More Info</div>
                </a>-->
            </div>
        </div>
    </div>

    <div class="backdrop visible active " ng-show="PopupShow">
        <div class="side-panel fade-in fast">
            <div class="bar bar-header bar-positive item-input-inset no-padding">
                <div class="button-bar">
                    <span class="page-title padding-horizontal">More Information</span>
                </div>
                <a href="javascript:void(0)" class="button button-icon icon icon-times" ng-click="PopupShow = !PopupShow"></a>
            </div>
            <div class="scroll-content has-header scrollable">
                <!--
                  <div class="list">
                    <div class="item item-icon-left">
                      <i class="icon icon-social13"></i>
                      Download Sync Status
                      <span class="item-note synced-color">Synced</span>
                    </div>
                    <div class="item item-icon-left">
                      <i class="icon icon-checkmark"></i>
                      Completed Status
                      <span class="item-note in-progress-color">In Progress</span>
                    </div>
                    <div class="item item-icon-left">
                      <i class="icon icon-thumb-up-outline-symbol"></i>
                      Approval Status
                      <span class="item-note">Not Approved</span>
                    </div>
                    <div class="item item-icon-left">
                      <i class="icon icon-arrow68"></i>
                      Upload Sync Status
                      <span class="item-note">Not Synced</span>
                    </div>
                    <div class="item item-divider">Auditor Details</div>
                    <div class="item">
                      Auditor Name
                      <span class="item-note">Tony Castaneda</span>
                    </div>
                    <div class="item">
                      Audit Time
                      <span class="item-note">29/02/2016 16:17:33 PM</span>
                    </div>
                    <div class="item item-divider">Approval Details</div>
                    <div class="item">
                      Approver Name
                      <span class="item-note">Jahaber Sadiq</span>
                    </div>
                    <div class="item">
                      Audit Time
                      <span class="item-note">---</span>
                    </div>
                  </div>
                  -->

                <div class="list">
                    <div class="item item-divider">Profile Details</div>
                    <div class="item">
                        Last Synced on <span class="synced-color">29/02/2016 22:48:33 PM</span>
                        <span class="item-note">Status - Latest</span>
                    </div>
                    <div class="item item-divider">Audit</div>
                    <div class="item">
                        Template Name 1 - 30/40<span class="in-progress-color"> (In Progress)</span>
                        <div class="row" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px; margin: 10px 0px 0px 0px;">
                            <div class="col text-right" style="background: #F8FDFF;">Total Questions</div>
                            <div class="col">40</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Questions Completed</div>
                            <div class="col">30</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Questions Remaining</div>
                            <div class="col">10</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Audit Start Time</div>
                            <div class="col">29/02/2016 22:08:34 PM</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Audit Completion Time</div>
                            <div class="col">29/02/2016 24:08:34 PM</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Time Taken for Completion</div>
                            <div class="col">2 hours</div>
                        </div>
                        <div class="row no-margin" style="border-bottom: 1px #F2F4F5 solid; font-size: 12px;">
                            <div class="col text-right" style="background: #F8FDFF;">Audit Score</div>
                            <div class="col">84%</div>
                        </div>
                    </div>
                    <div class="item item-divider">Approval</div>
                    <div class="item">
                        Approver Name - Level 1
                        <span class="item-note">01/03/2016 10:33:43 AM</span>
                    </div>
                    <div class="item">
                        Approver Name - Level 2
                        <span class="item-note">02/03/2016 10:33:43 AM</span>
                    </div>
                    <div class="item">
                        Approver Feedback - Level 1
                        <div style="color: 8C8C8C; font-size: 13px; margin-top: 10px;">Feedback details given by  level1 approver.</div>
                    </div>
                    <div class="item item-divider">Actions</div>
                    <div class="item">
                        Total Action Raised <span class="missed-color">30</span> - Resolved <span class="approved-color">10</span>
                        <span class="item-note in-progress-color">20 Pending</span>
                    </div>
                    <div class="item item-divider">Upload</div>
                    <div class="item">
                        Last Uploaded on 29/02/2016 20:12:34 PM
                        <span class="item-note synced-color">Synced</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>