<div snap-drawer="left" >
  <div class="oneview-menu oneview-menu-open">
    <div class="text-center" style="background:#0e1b1e;"><img src="images/logo_small.png" style="margin-left:-10px;"/></div>
    <ul class="list">
      <li class="item item-complex"><a snap-toggle="left" href="#/nav" class="item-content"><i class="icon icon-desktop"></i> My Dashboard</a></li>
      <li class="item item-complex"><a snap-toggle="left" ng-click="MyDownloads()" class="item-content"><i class="icon icon-cloud-download"></i> My Downloads</a></li>
      <li class="item item-complex"><a snap-toggle="left" ng-click="MyActionFollowUpDownloads()" class="item-content"><i class="icon icon-box-add"></i> My Action Downloads</a></li>
      <li class="item item-complex"><a snap-toggle="left" href="#/nav/my-audit" class="item-content"><i class="icon icon-clipboard2"></i> My Audits</a></li>
      <li class="item item-complex"><a snap-toggle="left" ng-click="LoadMyActions()" class="item-content"><i class="icon icon-edit"></i> My Actions</a></li>     
      <li class="item item-complex"><a snap-toggle="left" href="#/nav/settings" class="item-content"><i class="icon icon-gears"></i> My Settings</a></li>
      <li class="item item-complex"><a snap-toggle="left" href="#/nav/my-support" class="item-content"><i class="icon icon-comments-o"></i> My Support</a></li>
      <li class="item item-complex"><a snap-toggle="left" ng-click="LoadIncidentReport()" class="item-content"><i class="icon icon-file-text"></i> Incident Report</a></li>    
      <div class="item item-divider">
        My Alerts
        <ul class="list">
          <li class="item item-complex"><a snap-toggle="left" href="#/nav/my-alerts" class="item-content"><i class="icon icon-bullhorn"></i> My Alerts</a><span class="badge badge-assertive">0</span></li>
        </ul>
      </div>
      <li class="item item-complex"><a snap-toggle="left" ng-click="Logout()" class="item-content"><i class="icon icon-power-off"></i> Sign Out</a></li>
    </ul>
  </div>
</div>
<div snap-drawer="right" id="divAutocomplatePopUp" snap-id="snap-right">

</div>
<div snap-content>
    <!--<div class="Prob-panel" id="con">        
         <div class="txt">
          <div style="float:left;">Probe</div>
          <div class="probe-battery" id="txtBatteryPercentageControlId"></div> 
        </div>
        <div class="disp"><span class="lbl" id="txtTemperatureLoggerControlId">00.0000</span><span class="deg"> &deg;C</span></div>
    </div>-->
    <div class="backdrop visible active" ng-show="Notification">
    <div class="dropdown" >
      <div class="arrow-up"></div>
      <div class="bar bar-header">
        <div class="h1 title">Notifications</div>
        <a class="button button-icon icon icon-times" ng-click="OpenBellPopUp()"></a>
      </div>
      <div class="scroll-content has-header">
        <div class="full-height scrollable">
          <div class="list no-margin" id="NotoficationPanel">           
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="backdrop visible active" ng-show="PopCommentBox">
    <div class="dropdown comment-box">
      <div class="arrow-up"></div>
      <div class="bar bar-header">
        <div class="h1 title"><i class="icon icon-comments dark"></i> Enter Remarks</div>
        <a href="javascript:void(0)" class="button button-icon icon icon-times" ng-click="PopCommentBoxHide()"></a>
      </div>
      <div class="scroll-content padding has-header has-footer">
        <div class="full-height">
          <div class="field-item">
            <label>
              <textarea row="10" id="DcComments"></textarea>
            </label>
          </div>
        </div>
      </div>
      <div class="bar bar-footer no-padding">
        <div class="row">
          <div class="col"><a class="button button-block button-clear" ng-click="ClearDcComments()">Clear</a></div>
          <div class="col"><a class="button button-block button-clear" ng-click="AddDcComments()">Update</a></div>
        </div>
      </div>
    </div>
  </div>
	<div class="bar bar-header bar-positive item-input-inset no-padding">
		<a snap-toggle="left" href="javascript:void(0)" class="button button-icon icon icon-navicon"></a>
		 <div class="button-bar">
           <span class="page-title" id="PageTitle">{{'PageTitle' | xlat }}</span>
		 </div>
		 <div class="buttons">                        
			<!--<a href="javascript:void(0)" class="button button-icon icon icon-file-text"><div class="badge badge-assertive">10</div></a>
			<a href="javascript:void(0)" class="button button-icon icon icon-bell"><div class="badge badge-energized">23</div></a>-->
             <a href="javascript:void(0)" class="button button-icon icon icon-bell" id="TopRightBell" ng-click="OpenBellPopUp()"></a>
			<a class="button button-icon icon icon-power-off" ng-click="Logout()"></a>
		 </div>
	</div>
 <div class="scroll-content has-header" app-view-segment="1">
</div>
</div>