<div ng-controller="SamplingSheetAndEquipmentSwabAnalysisController">
    <div class="bar sub-header item-input-inset no-padding">
        <a href="javascript:void(0)" class="button button-clear" ng-click="Back()" ng-disabled="DisableBack"><i class="icon icon-chevron-left"></i>{{'Back' | xlat}}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="GetProbeStatus()"><i class="icon icon-thermometer"></i>{{Status | xlat }}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="NCClick()" ng-show="BtnNCObservations"><i class="icon"></i>Observations</a>
        <label class="item-input-wrapper">

        </label>
        <span class="badge blue hide-sm"><span class="light">{{CompletedRecords}} / {{TotalCount}}</span><span class="badge badge-assertive">{{NCCount}}</span></span>
        <!--<span class="border-left">{{ 'Shift' | xlat}}</span>
        <div class="shift-bar">
            <buttons-band class="" data-toggle="buttons-band" model='NewDCModel.chkShift' options='ShiftOptions' ng-model="NewDCModel.chkShift" controlid="chkShift"></buttons-band>
        </div>-->
        <div class="shift-bar">
            <div dropdown-select="ShiftOptions" dropdown-model="chkShift" dropdown-item-label="text"></div>
        </div>
    </div>

    <div class="scroll-content has-header padding custom-view">
        <div class="full-height scrollable">

            <!-- DC Form Start -->
            <div class="row responsive-md no-padding-vertical multi-col" ng-hide="SampleSheetHide">
                <!-- Main Column Start -->
                <div class="col no-padding no-margin">
                    <div class="title-bar rounded">{{ 'Sampledetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>{{ 'Sampleno' | xlat}}</span>
                                    <input type="tel" ng-model="NewDCModel.txtSamplingNoControlId" controlid="txtSamplingNoControlId" id="txtSamplingNoControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlUnitControlId', 'Unit', 201, 1840, true)">
                                <label ng-click="PreControlEvents(1840,'AddlUnitControlId',$event)">
                                    <span>{{ 'Unit' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlUnitControlId" controlid="AddlUnitControlId" id="AddlUnitControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlDepartmentControlId', 'Department', 258, 1841, true)">
                                <label ng-click="PreControlEvents(1841,'AddlDepartmentControlId',$event)">
                                    <span>{{ 'Department' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlDepartmentControlId" controlid="AddlDepartmentControlId" id="AddlDepartmentControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlSectionControlId', 'Section', 259, 1842, true)">
                                <label ng-click="PreControlEvents(1842,'AddlSectionControlId',$event)">
                                    <span>{{ 'Section' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlSectionControlId" controlid="AddlSectionControlId" id="AddlSectionControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlLocationControlId', 'Location', 260, 1843, true)">
                                <label ng-click="PreControlEvents(1843,'AddlLocationControlId',$event)">
                                    <span>{{ 'Location' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlLocationControlId" controlid="AddlLocationControlId" id="AddlLocationControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(1844,'txtOthersLocationControlId',$event)">
                                    <span>{{ 'Others' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtOthersLocationControlId" controlid="txtOthersLocationControlId" id="txtOthersLocationControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">                       
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(1845,'txtSamplingDescriptionControlId',$event)">
                                    <span>Sample Description</span>
                                    <input type="text" ng-model="NewDCModel.txtSamplingDescriptionControlId" controlid="txtSamplingDescriptionControlId" id="txtSamplingDescriptionControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">During Sampling</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_1847">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(1847,'DTDateTimeOfCollectionControlId',$event)">
                                    <span>{{'DateTimeOfCollection' | xlat }}</span>
                                    <!-- <input type="time" ng-model="CookingTime">-->
                                    <input type="datetime-local" ng-model="NewDCModel.DTDateTimeOfCollectionControlId" attributenodeid="1847" controlid="DTDateTimeOfCollectionControlId" id="DTDateTimeOfCollectionControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">

                                <span>Sanitizer Concentration in ppm</span>
                                <!--<input type="text" ng-model="NewDCModel.txtVictoryControlId" controlid="txtVictoryControlId" id="txtVictoryControlId">-->
                                <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.txtVictoryControlId' options='VictorySanitizerConcentration' ng-model="NewDCModel.txtVictoryControlId" attributenodeid="1913" controlid="txtVictoryControlId"></buttons-band>


                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlChemicalsUsedControlId', 'Chemicals Used', 251, 8683, true)">
                                <label>
                                    <span>Chemicals Used</span>
                                    <input type="text" ng-model="NewDCModel.AddlChemicalsUsedControlId" controlid="AddlChemicalsUsedControlId" id="AddlChemicalsUsedControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>Collected By</span>
                                    <input type="text" ng-model="NewDCModel.txtCollectedbyControlId" controlid="txtCollectedbyControlId" id="txtCollectedbyControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg signature">
                            <div class="field-item">
                                <div>
                                    <label>
                                        <span>Collected By Signature</span>
                                    </label>
                                    <label>
                                        <span>{{DCSignatureCollectedBy_lblSignature}}</span>
                                    </label>
                                </div>
                                <a href="javascript:void(0)" ng-click="Signature('DCSignatureCollectedBy')" class="button button-icon icon icon-pencil"></a>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">Upon Receipt</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>Verified By</span>
                                    <input type="text" ng-model="NewDCModel.txtVerifiedByControlId" controlid="txtVerifiedByControlId" id="txtVerifiedByControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg signature">
                            <div class="field-item">
                                <div>
                                    <label>
                                        <span>Verified By Signature</span>
                                    </label>
                                    <label>
                                        <span>{{DCSignatureVerifiedBy_lblSignature}}</span>
                                    </label>
                                </div>
                                <a href="javascript:void(0)" ng-click="Signature('DCSignatureVerifiedBy')" class="button button-icon icon icon-pencil"></a>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <!--<div class="row no-padding responsive-md multi-col">-->                       
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label>
                                    <span>Time of Collection</span>
                                    <input type="time" ng-model="NewDCModel.DTTimeControlId" attributenodeid="1847" controlid="DTTimeControlId" id="DTTimeControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>-->
                        <!-- Inner Form Items Responsive Column End -->                        
                    <!--</div>-->
                    <!-- Inner Form Items Responsive Row End -->
                    

                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(1846,'txtRemarksControlId',$event)">
                                        <span>Remarks & Comments</span>
                                        <input type="text" ng-model="NewDCModel.txtRemarksControlId" controlid="txtRemarksControlId" id="txtRemarksControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>
                <!-- Main Column End -->
            </div>
            <!-- DC Form End -->
            <!-- Inner Form Items Responsive Row Start -->
            <div class="row no-padding responsive-md multi-col" ng-hide="SampleSheetHide">
                <!-- Inner Form Items Responsive Column Start -->
                <div class="col rounded light-bg">
                    <div class="col no-padding">
                        <a href="javascript:void(0)" ng-click="ShowFoodAnalysisForm();" class="button button-block button-energized">{{ 'GoToEqSwabAnalysis' | xlat}}</a>
                    </div>
                </div>
                <!-- Inner Form Items Responsive Column End -->
            </div>
            <!-- Inner Form Items Responsive Row End -->
            <!-- Food Analysis Form Start -->
            <div class="row responsive-md no-padding-vertical multi-col" ng-show="FoodAnalysisShow">
                <!-- Main Column Start -->
                <div class="col no-padding no-margin">
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>{{ 'Sampleno' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtSamplingNoControlId" controlid="txtSamplingNoControlId" id="txtSamplingNoControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>{{ 'Sample Description' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtSamplingDescriptionControlId" controlid="txtSamplingDescriptionControlId" id="txtSamplingDescriptionControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(1847,'DTTimeControlId',$event)">
                                    <span>Time of collection</span>
                                    <input type="time" ng-model="NewDCModel.DTTimeControlId" attributenodeid="1847" controlid="DTTimeControlId" id="DTTimeControlId" readonly="true">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>-->
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>Collected By</span>
                                    <input type="text" ng-model="NewDCModel.txtCollectedbyControlId" controlid="txtCollectedbyControlId" id="txtCollectedbyControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{ 'Analysis Details' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(1848,'DTDateofAnalysisControlId',$event)">
                                    <span>{{ 'AnalysisDate' | xlat}}</span>
                                    <input type="date" ng-model="NewDCModel.DTDateofAnalysisControlId" attributenodeid="1848" controlid="DTDateofAnalysisControlId" id="DTDateofAnalysisControlId" ng-change="PostControlEvents(1848,'DTDateofAnalysisControlId');">
                                    <i class="icon icon-calendar-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(9677,'DTDateofCompletionControlId',$event)">
                                    <span>{{ 'AnalysisCompletionDate' | xlat}}</span>
                                    <input type="date" ng-model="NewDCModel.DTDateofCompletionControlId" attributenodeid="9677" controlid="DTDateofCompletionControlId" id="DTDateofCompletionControlId" ng-change="PostControlEvents(9677,'DTDateofCompletionControlId');">
                                    <i class="icon icon-calendar-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                                     
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>Verified By</span>
                                    <input type="text" ng-model="NewDCModel.txtAnalysisVerifiedByControlId" controlid="txtAnalysisVerifiedByControlId" id="txtAnalysisVerifiedByControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg signature">
                            <div class="field-item">
                                <div>
                                    <label>
                                        <span>Verified By Signature</span>
                                    </label>
                                    <label>
                                        <span>{{DCSignatureAnalysisVerifiedBy_lblSignature}}</span>
                                    </label>
                                </div>
                                <a href="javascript:void(0)" ng-click="Signature('DCSignatureAnalysisVerifiedBy')" class="button button-icon icon icon-pencil"></a>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                   
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <span>{{'ParameterTested' | xlat}}</span>
                                <div class="multiselect-button button-bar">
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkParameterTested' options='ParameterTested' ng-model="NewDCModel.chkParameterTested" attributenodeid="1850" controlid="chkParameterTested"></buttons-band>
                                </div>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->


                    <div ng-show="TVBShow">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Actual Value</span>
                                        <input type="text" ng-model="NewDCModel.txtActualValue1ControlId" controlid="txtActualValue1ControlId" id="txtActualValue1ControlId" ng-change="UpdateParameterTestedCompletedStatus(147)">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Max Criteria</span>
                                        <input type="text" ng-model="NewDCModel.txtMaxCriteria1ControlId" controlid="txtMaxCriteria1ControlId" id="txtMaxCriteria1ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlEvaluation1ControlId', 'Evaluation', 243, 1854, true)">
                                    <label ng-click="PreControlEvents(1854,'AddlEvaluation1ControlId',$event)">
                                        <span>Evaluation</span>
                                        <input type="text" ng-model="NewDCModel.AddlEvaluation1ControlId" controlid="AddlEvaluation1ControlId" id="AddlEvaluation1ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(11791,'txtTVBAnalyzedByControlId',$event)">
                                        <span>Analyzed By</span>
                                        <input type="text" ng-model="NewDCModel.txtTVBAnalyzedByControlId" controlid="txtTVBAnalyzedByControlId" id="txtTVBAnalyzedByControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->

                    </div>

                    <div ng-show="ColiformsShow">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Actual Value</span>
                                        <input type="text" ng-model="NewDCModel.txtActualValue2ControlId" controlid="txtActualValue2ControlId" id="txtActualValue2ControlId" ng-change="UpdateParameterTestedCompletedStatus(148)">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Max Criteria</span>
                                        <input type="text" ng-model="NewDCModel.txtMaxCriteria2ControlId" controlid="txtMaxCriteria2ControlId" id="txtMaxCriteria2ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlEvaluation2ControlId', 'Evaluation', 243, 1858, true)">
                                    <label ng-click="PreControlEvents(1858,'AddlEvaluation2ControlId',$event)">
                                        <span>Evaluation</span>
                                        <input type="text" ng-model="NewDCModel.AddlEvaluation2ControlId" controlid="AddlEvaluation2ControlId" id="AddlEvaluation2ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(11792,'txtColiformsAnalyzedByControlId',$event)">
                                        <span>Analyzed By</span>
                                        <input type="text" ng-model="NewDCModel.txtColiformsAnalyzedByControlId" controlid="txtColiformsAnalyzedByControlId" id="txtColiformsAnalyzedByControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>

                    <div ng-show="EcoliShow">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                               
                                        <span>Result</span>
                                        <!--<input type="text" ng-model="NewDCModel.txtActualValue3ControlId" controlid="txtActualValue3ControlId" id="txtActualValue3ControlId" ng-change="UpdateParameterTestedCompletedStatus(149)">-->
                                        <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.txtActualValue3ControlId' options='ActualValueResult3' ng-model="NewDCModel.txtActualValue3ControlId" attributenodeid="8515" controlid="txtActualValue3ControlId"></buttons-band>
                                
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Max Criteria</span>
                                        <input type="text" ng-model="NewDCModel.txtMaxCriteria3ControlId" controlid="txtMaxCriteria3ControlId" id="txtMaxCriteria3ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlEvaluation3ControlId', 'Evaluation', 243, 1862, true)">
                                    <label ng-click="PreControlEvents(1862,'AddlEvaluation3ControlId',$event)">
                                        <span>Evaluation</span>
                                        <input type="text" ng-model="NewDCModel.AddlEvaluation3ControlId" controlid="AddlEvaluation3ControlId" id="AddlEvaluation3ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(11793,'txtEcoliAnalyzedByControlId',$event)">
                                        <span>Analyzed By</span>
                                        <input type="text" ng-model="NewDCModel.txtEcoliAnalyzedByControlId" controlid="txtEcoliAnalyzedByControlId" id="txtEcoliAnalyzedByControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>

                    <div ng-show="ListeriaShow">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                           
                                        <span>Result</span>
                                        <!--<input type="text" ng-model="NewDCModel.txtActualValue4ControlId" controlid="txtActualValue4ControlId" id="txtActualValue4ControlId" ng-change="UpdateParameterTestedCompletedStatus(150)">-->
                                        <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.txtActualValue4ControlId' options='ActualValueResult4' ng-model="NewDCModel.txtActualValue4ControlId" attributenodeid="8515" controlid="txtActualValue4ControlId"></buttons-band>
                           
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Max Criteria</span>
                                        <input type="text" ng-model="NewDCModel.txtMaxCriteria4ControlId" controlid="txtMaxCriteria4ControlId" id="txtMaxCriteria4ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlEvaluation4ControlId', 'Evaluation', 243, 1866, true)">
                                    <label ng-click="PreControlEvents(1866,'AddlEvaluation4ControlId',$event)">
                                        <span>Evaluation</span>
                                        <input type="text" ng-model="NewDCModel.AddlEvaluation4ControlId" controlid="AddlEvaluation4ControlId" id="AddlEvaluation4ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(11794,'txtListeriaAnalyzedByControlId',$event)">
                                        <span>Analyzed By</span>
                                        <input type="text" ng-model="NewDCModel.txtListeriaAnalyzedByControlId" controlid="txtListeriaAnalyzedByControlId" id="txtListeriaAnalyzedByControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>

                    <div ng-show="YeasAndMouldShow">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Actual Value</span>
                                        <input type="text" ng-model="NewDCModel.txtActualValue5ControlId" controlid="txtActualValue5ControlId" id="txtActualValue5ControlId" ng-change="UpdateParameterTestedCompletedStatus(151)">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>Max Criteria</span>
                                        <input type="text" ng-model="NewDCModel.txtMaxCriteria5ControlId" controlid="txtMaxCriteria5ControlId" id="txtMaxCriteria5ControlId" >
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlEvaluation5ControlId', 'Evaluation', 243, 1870, true)">
                                    <label ng-click="PreControlEvents(1870,'AddlEvaluation5ControlId',$event)">
                                        <span>Evaluation</span>
                                        <input type="text" ng-model="NewDCModel.AddlEvaluation5ControlId" controlid="AddlEvaluation5ControlId" id="AddlEvaluation5ControlId" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(11795,'txtYeasAndMouldAnalyzedByControlId',$event)">
                                        <span>Analyzed By</span>
                                        <input type="text" ng-model="NewDCModel.txtYeasAndMouldAnalyzedByControlId" controlid="txtYeasAndMouldAnalyzedByControlId" id="txtYeasAndMouldAnalyzedByControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>

                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{ 'Overall Details' | xlat}}</div>

                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">

                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(1872,'txtFollowUpStatusControlId',$event)">
                                    <span>{{ 'FollowUpStatus' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtFollowUpStatusControlId" controlid="txtFollowUpStatusControlId" id="txtFollowUpStatusControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label>
                                    <span>Remarks</span>
                                    <input type="text" ng-model="NewDCModel.txtSanitizerRemarksControlId" controlid="txtSanitizerRemarksControlId" id="txtSanitizerRemarksControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    

                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlOverAllEvaluationControlId', 'Overall Evaluation', 243, 8763, true)">
                                <label ng-click="PreControlEvents(8763,'AddlOverAllEvaluationControlId',$event)">
                                    <span>Overall Evaluation</span>
                                    <input type="text" ng-model="NewDCModel.AddlOverAllEvaluationControlId" controlid="AddlOverAllEvaluationControlId" id="AddlOverAllEvaluationControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(11739,'txtOverallEvaluationRemarksControlId',$event)">
                                    <span>Overall Evaluation Remarks</span>
                                    <input type="text" ng-model="NewDCModel.txtOverallEvaluationRemarksControlId" controlid="txtOverallEvaluationRemarksControlId" id="txtOverallEvaluationRemarksControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                       
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(1873,'txtConductedByControlId',$event)">
                                    <span>Analyzed By</span>
                                    <input type="text" ng-model="NewDCModel.txtConductedByControlId" controlid="txtConductedByControlId" id="txtConductedByControlId">
                                </label>
                            </div>
                        </div>-->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('txtConductedByControlId', 'Analyzed By', 273, 1873, true)">
                                <label ng-click="PreControlEvents(1873,'txtConductedByControlId',$event)">
                                    <span>Analyzed By</span>
                                    <input type="text" ng-model="NewDCModel.txtConductedByControlId" controlid="txtConductedByControlId" id="txtConductedByControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg signature">
                            <div class="field-item">
                                <div>
                                    <label>
                                        <span>Signature</span>
                                    </label>
                                    <label>
                                        <span>{{DCSignature_lblSignature}}</span>
                                    </label>
                                </div>
                                <a href="javascript:void(0)" ng-click="Signature('DCSignature')" class="button button-icon icon icon-pencil"></a>
                            </div>
                        </div>-->
                        <div class="col rounded light-bg" ng-show="DivDCSignature">
                            <div class="field-item">
                                <label ng-click="precontrolevents(1874,'DCSignature',$event)">
                                    <span>Analyzed by URL</span>
                                    <input type="text" ng-model="NewDCModel.DCSignature" controlid="DCSignature" id="DCSignature">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                      
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-md multi-col">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="col no-padding">
                                    <a href="javascript:void(0)" ng-click="ShowSamplingSheet();" class="button button-block button-energized">{{'Samplingsheet' | xlat}}</a>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>
                </div>
                <!-- Main Column End -->
            </div>
            <!-- Food Analysis Form End -->
            <div class="row responsive-sm dc-button-holder margin-top-md" ng-hide="SampleSheetHide">
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block button-calm" ng-click="ViewRecords()"><i class="icon icon-eye"></i> {{'ViewRecords' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" ng-click="ClearForm()" class="button button-block button-calm"><i class="icon icon-cancel-circle"></i> {{'Clear' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="AddRecords()" ng-disabled="DisableSave"><i class="icon icon-plus"></i> {{'Add' | xlat }}</a>
                  </div>
                  <!--<div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="SubmitRecords()" ng-disabled="DisableSaveSubmit"><i class="icon icon-check-circle"></i> {{'SaveSubmit' | xlat }}</a>
                  </div>-->
            </div>
        </div>


    </div>

    <div class="scroll-content" ng-show="DCSignature_DivSignature">
        <!-- Signature Pad Start -->
        <div class="signature-pad">
            <div id="DCSignature_SignaturePad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                </div>
                <div class="m-signature-pad--footer">
                    <div class="description">{{'Signabove' | xlat}}</div>
                    <button class="button button-assertive clear" data-action="clear"><i class="icon icon-plus"></i>{{'Clear' | xlat}}</button>
                    <button class="button button-calm save" data-action="save"><i class="icon icon-plus"></i>{{'Save' | xlat}}</button>
                </div>
            </div>
        </div>
        <!-- Signature Pad End -->
    </div>
    <div class="scroll-content" ng-show="DCSignatureCollectedBy_DivSignature">
        <!-- Signature Pad Start -->
        <div class="signature-pad">
            <div id="DCSignatureCollectedBy_SignaturePad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                </div>
                <div class="m-signature-pad--footer">
                    <div class="description">{{'Signabove' | xlat}}</div>
                    <button class="button button-assertive clear" data-action="clear"><i class="icon icon-plus"></i>{{'Clear' | xlat}}</button>
                    <button class="button button-calm save" data-action="save"><i class="icon icon-plus"></i>{{'Save' | xlat}}</button>
                </div>
            </div>
        </div>
        <!-- Signature Pad End -->
    </div>
    <div class="scroll-content" ng-show="DCSignatureVerifiedBy_DivSignature">
        <!-- Signature Pad Start -->
        <div class="signature-pad">
            <div id="DCSignatureVerifiedBy_SignaturePad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                </div>
                <div class="m-signature-pad--footer">
                    <div class="description">{{'Signabove' | xlat}}</div>
                    <button class="button button-assertive clear" data-action="clear"><i class="icon icon-plus"></i>{{'Clear' | xlat}}</button>
                    <button class="button button-calm save" data-action="save"><i class="icon icon-plus"></i>{{'Save' | xlat}}</button>
                </div>
            </div>
        </div>
        <!-- Signature Pad End -->
    </div>
    <div class="scroll-content" ng-show="DCSignatureAnalysisVerifiedBy_DivSignature">
        <!-- Signature Pad Start -->
        <div class="signature-pad">
            <div id="DCSignatureAnalysisVerifiedBy_SignaturePad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                </div>
                <div class="m-signature-pad--footer">
                    <div class="description">{{'Signabove' | xlat}}</div>
                    <button class="button button-assertive clear" data-action="clear"><i class="icon icon-plus"></i>{{'Clear' | xlat}}</button>
                    <button class="button button-calm save" data-action="save"><i class="icon icon-plus"></i>{{'Save' | xlat}}</button>
                </div>
            </div>
        </div>
        <!-- Signature Pad End -->
    </div>

