<div ng-controller="AircraftLoadingVerificationController">

    <div class="bar sub-header item-input-inset no-padding">
        <a href="javascript:void(0)" class="button button-clear" ng-click="Back()"><i class="icon icon-chevron-left"></i>{{'Back' | xlat}}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="GetProbeStatus()"><i class="icon icon-thermometer"></i>{{Status | xlat }}</a>
        <label class="item-input-wrapper">

        </label>
        <span class="badge blue hide-sm"><span class="light">{{CompletedRecords}} / {{TotalCount}}</span><span class="badge badge-assertive">{{NCCount}}</span></span>
        <!--<span class="border-left">{{ 'Shift' | xlat}}</span>
        <div class="shift-bar">
            <buttons-band class="" data-toggle="buttons-band" model='NewDCModel.chkShift' options='ShiftOptions' ng-model="NewDCModel.chkShift" controlid="chkShift"></buttons-band>
        </div>-->
        <div class="shift-bar">
            <div dropdown-select="ShiftOptions" dropdown-model="chkShift" dropdown-item-label="text"></div>
        </div>
    </div>

    <div class="scroll-content has-header padding custom-view scrollable" id="ContentId">
        <div class="full-height scrollable">
            <!-- DC Form Start -->
            <div class="row no-padding-vertical responsive-sm margin-bottom">
                <!-- Inner Form Items Responsive Column Start -->
                <div class="col rounded light-bg current-attr" id="Column_321">
                    <div class="field-item">
                        <span>{{'DayCode' | xlat}}</span>
                        <div><buttons-band-color class="buttons-color-group" data-toggle="buttons-radio-Custom" model='NewDCModel.chkDayMarker' options='DayMarker' ng-model="NewDCModel.chkDayMarker"></buttons-band-color></div>
                    </div>
                </div>
                <!-- Inner Form Items Responsive Column End -->
                <!-- Inner Form Items Responsive Column Start -->
                <div class="col rounded light-bg" id="Column_433">
                    <div class="field-item">
                        <span>{{'DayShift' | xlat}}</span>
                        <div class="multiselect-button button-bar">
                            <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkCookingShift' options='CookingShiftOptions' ng-model="NewDCModel.chkCookingShift" attributenodeid="525" controlid="chkCookingShift"></buttons-band>
                        </div>
                    </div>
                </div>
                <!-- Inner Form Items Responsive Column End -->
            </div>
            <!-- Inner Form Items Responsive Row End -->
            <div class="row responsive-md no-padding-vertical">
                <!-- Main Column Start -->
                <div class="col no-padding">
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'ProductDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlProductControlId', 'Meal', 220, 294, true)">
                                <label>
                                    <span>{{'Product' | xlat }}</span>
                                    <input type="text" ng-model="NewDCModel.AddlProductControlId" attributenodeid="294" controlid="AddlProductControlId" id="AddlProductControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(417,'AddlTypeOfMealControlId',$event)">
                                    <span>{{ 'TypeOfMeal' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlTypeOfMealControlId" attributenodeid="417" controlid="AddlTypeOfMealControlId" id="AddlTypeOfMealControlId">
                                </label>
                            </div>
                        </div>-->
                        <div class="col rounded light-bg">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlTypeOfMealControlId', 'Meal Type', 226, 417)">
                                <label ng-click="PreControlEvents(417,'AddlTypeOfMealControlId',$event)">
                                    <span>{{'MealType' | xlat }}</span>
                                    <input type="text" ng-model="NewDCModel.AddlTypeOfMealControlId" attributenodeid="558" controlid="AddlTypeOfMealControlId" readonly="true">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon" onclick="AutoCompleteStartEvent('txtClassControlId', 'Class', 211, 295, true)">
                                <label ng-click="PreControlEvents(295,'txtClassControlId',$event)">
                                    <span>{{ 'Class' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtClassControlId" attributenodeid="295" controlid="txtClassControlId" id="txtClassControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(418,'DTETDControlId',$event)">
                                    <span>{{ 'ETD' | xlat}}</span>
                                    <input type="datetime-local" ng-model="NewDCModel.DTETDControlId" attributenodeid="418" controlid="DTETDControlId" id="DTETDControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'CustomerDetails' | xlat }}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlSectorControlId', 'Sector', 210, 413, true)">
                                <label ng-click="PreControlEvents(413,'AddlSectorControlId',$event)">
                                    <span>{{'Sector' | xlat}} </span>
                                    <!--<input type="text" ng-model="Airline">-->
                                    <input type="text" ng-model="NewDCModel.AddlSectorControlId" controlid="AddlSectorControlId" readonly="true" id="AddlSectorControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlFlightControlId', 'Airline', 212, 412, true)">
                                <label ng-click="PreControlEvents(412,'AddlFlightControlId',$event)">
                                    <span>{{'Airline' | xlat}} </span>
                                    <!--<input type="text" ng-model="Airline">-->
                                    <input type="text" ng-model="NewDCModel.AddlFlightControlId" controlid="AddlFlightControlId" readonly="true" id="AddlFlightControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlAirlineControlId', 'Flight', 213, 296, true)">
                                <label ng-click="PreControlEvents(296,'AddlAirlineControlId',$event)">
                                    <span>{{'Flight' | xlat}} </span>
                                    <!--<input type="text" ng-model="Airline">-->
                                    <input type="text" ng-model="NewDCModel.AddlAirlineControlId" controlid="AddlAirlineControlId" readonly="true" id="AddlAirlineControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlFAndBControlId', 'F&B & Other', 214, 414, true)">
                                <label ng-click="PreControlEvents(414,'AddlFAndBControlId',$event)">
                                    <span>{{'F&B' | xlat}} </span>
                                    <!--<input type="text" ng-model="Airline">-->
                                    <input type="text" ng-model="NewDCModel.AddlFAndBControlId" controlid="AddlFAndBControlId" readonly="true" id="AddlFAndBControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <!--<div class="title-bar rounded">{{ 'AircraftDetails' | xlat}}</div>-->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('AmbientTempControlId');SetAutoTemperatureListener('NewDCModel.AmbientTempControlId','')">
                                <label ng-click="PreControlEvents(297,'AmbientTempControlId',$event)">
                                    <span>{{ 'AmbientTemp' | xlat}}(&deg;C)</span>
                                    <input type="tel" class="{{AmbientTempControlId}}" ng-readonly="{{AmbientTempControlId_IsReadOnly}}" ng-model="NewDCModel.AmbientTempControlId" attributenodeid="297" controlid="AmbientTempControlId" id="AmbientTempControlId" ng-change="MakeDecimalControl('AmbientTempControlId','#.#')">
                                    <i class=" icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->       
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" ng-click="SetSelectedTextBoxColor('AircraftLoadingTempControlId');SetAutoTemperatureListener('NewDCModel.AircraftLoadingTempControlId','NewDCModel.TMAircraftLoadingTimeControlId')">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(299,'AircraftLoadingTempControlId',$event)">
                                    <span>{{ 'AircraftLoadingTemp' | xlat}}(&deg;C)</span>
                                    <input type="tel" class="{{AircraftLoadingTempControlId}}" ng-readonly="{{AircraftLoadingTempControlId_IsReadOnly}}" ng-change="MakeDecimalControl('AircraftLoadingTempControlId','#.#');ngChange_setIsManualFlag('AircraftLoadingTempControlId');Temperature_NgKeyUp(299,'AircraftLoadingTempControlId','TMAircraftLoadingTimeControlId', false)" ng-model="NewDCModel.AircraftLoadingTempControlId" id="AircraftLoadingTempControlId" attributenodeid="299" controlid="AircraftLoadingTempControlId" ng-readonly="truefalse">
                                    <i class="icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(298,'TMAircraftLoadingTimeControlId',$event)">
                                    <span>{{ 'AircraftLoadingTime' | xlat}}</span>
                                    <input type="datetime-local" ng-disabled="{{TMAircraftLoadingTimeControlId_IsReadOnly}}" ng-model="NewDCModel.TMAircraftLoadingTimeControlId" ng-change="ngChange_setIsManualFlag('TMAircraftLoadingTimeControlId');" attributenodeid="298" controlid="TMAircraftLoadingTimeControlId" id="TMAircraftLoadingTimeControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->          
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                </div>
                <!-- Main Column End -->
                <!-- Main Column Start -->
                <div class="col no-padding">
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{ 'LoaderDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(300,'txtLoaderNoControlId',$event)">
                                    <span>{{'LoaderNo' | xlat }}</span>
                                    <input type="text" ng-model="NewDCModel.txtLoaderNoControlId" attributenodeid="300" controlid="txtLoaderNoControlId" id="txtLoaderNoControlId">                                
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{ 'RefrigerationDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <span>{{'RefrigerationStatus' | xlat }}</span>
                                <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkRefriStatus' options='RefriStatus' ng-model="NewDCModel.chkRefriStatus" attributenodeid="301" controlid="chkRefriStatus"></buttons-band>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('TempControlId');SetAutoTemperatureListener('NewDCModel.TempControlId','')">
                                <label ng-click="PreControlEvents(302,'TempControlId',$event)">
                                    <span>{{'Temp' | xlat }}(&deg;C)</span>
                                    <input type="tel" class="{{TempControlId}}" ng-readonly="{{TempControlId_IsReadOnly}}" ng-change="MakeDecimalControl('TempControlId','#.#');ngChange_setIsManualFlag('TempControlId');Temperature_NgKeyUp(302,'TempControlId','', false)" ng-readonly=" truefalse" ng-model="NewDCModel.TempControlId" attributenodeid="302" controlid="TempControlId" id="TempControlId">
                                    <i class="icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item">
                                <span>{{'ChillerAvailability' | xlat}}</span>
                                <div class="multiselect-button button-bar">
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkChillerAvailability' options='ChillerAvailability' ng-model="NewDCModel.chkChillerAvailability" attributenodeid="416" controlid="chkChillerAvailability"></buttons-band>
                                </div>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" ng-show="DivGalleryChillerShow">
                            <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATGalleyChillerTempControlId');SetAutoTemperatureListener('NewDCModel.ATGalleyChillerTempControlId','')">
                                <label ng-click="PreControlEvents(1916,'ATGalleyChillerTempControlId',$event)">
                                    <span>{{'Temp' | xlat }}(&deg;C)</span>
                                    <input type="tel" class="{{ATGalleyChillerTempControlId}}" ng-readonly="{{ATGalleyChillerTempControlId_IsReadOnly}}" ng-change="MakeDecimalControl('ATGalleyChillerTempControlId','#.#');ngChange_setIsManualFlag('ATGalleyChillerTempControlId');Temperature_NgKeyUp(1916,'ATGalleyChillerTempControlId','', false)" ng-readonly=" truefalse" ng-model="NewDCModel.ATGalleyChillerTempControlId" attributenodeid="1916" controlid="ATGalleyChillerTempControlId" id="ATGalleyChillerTempControlId">
                                    <i class="icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row no-padding responsive-sm">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label ng-click="PreControlEvents(303,'txtCommentControlId',$event)">
                                        <span>{{'Comments' | xlat }}</span>
                                        <input type="text" ng-model="NewDCModel.txtCommentControlId" attributenodeid="303" controlid="txtCommentControlId" id="txtCommentControlId">
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                        <!-- Inner Form Items Responsive Row End -->
                    </div>
                <!-- Main Column End -->
            </div>
            <!-- DC Form End -->
            
            <div class="row responsive-sm dc-button-holder margin-top-md">
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block button-calm" ng-click="ViewRecords()"><i class="icon icon-eye"></i> {{'ViewRecords' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" ng-click="ClearForm()" class="button button-block button-calm"><i class="icon icon-cancel-circle"></i> {{'Clear' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="AddRecords()" ng-disabled="DisableSave"><i class="icon icon-plus"></i> {{'Add' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="SubmitRecords()" ng-disabled="DisableSaveSubmit"><i class="icon icon-check-circle"></i> {{'SaveSubmit' | xlat }}</a>
                  </div>
            </div>

        </div>
    </div>


</div>