<div ng-controller="MealDispatchTempLog">
    <div class="bar sub-header item-input-inset no-padding">
        <a href="javascript:void(0)" class="button button-clear" ng-click="Back()"><i class="icon icon-chevron-left"></i>{{'Back' | xlat}}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="GetProbeStatus()"><i class="icon icon-thermometer"></i>{{Status | xlat }}</a>
        <label class="item-input-wrapper">

        </label>
        <span class="badge blue hide-sm"><span class="light">{{CompletedRecords}} / {{TotalCount}}</span><span class="badge badge-assertive">{{NCCount}}</span></span>
        <!--<span class="border-left">{{ 'Shift' | xlat}}</span>
        <div class="shift-bar">
            <buttons-band class="" data-toggle="buttons-band" model='NewDCModel.chkShift' options='ShiftOptions' ng-model="NewDCModel.chkShift" controlid="chkShift"></buttons-band>
        </div>-->

        <div class="shift-bar">
            <div dropdown-select="ShiftOptions" dropdown-model="chkShift" dropdown-item-label="text"></div>
        </div>

        <!--<div class="shift-bar">
            <input type="number" ng-model="NewDCModel.txtTestTempControlId" controlid="txtTestTempControlId" id="txtTestTempControlId" />
        </div>
        <div class="shift-bar">
            <button ng-click="ProbeTesting()">Probe Temp</button>
        </div>-->
    </div>

    <div class="scroll-content has-header padding custom-view scrollable" id="ContentId">
        <div>
            <!-- DC Form Start -->
            <div class="row responsive-md no-padding-vertical">
                <!-- Main Column Start -->
                <div class="col no-padding">
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'ProductDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label onclick="AutoCompleteStartEvent('AddlLocation', 'Location', 223, 465)">
                                    <span>{{'Location' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlLocation" controlid="AddlLocation">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(466,'txtProductControlId',$event)">
                                    <span>{{'Product' | xlat }}</span>
                                    <input type="text" class="{{txtCoreTempControlId}}" ng-readonly="{{txtCoreTempControlId_IsReadOnly}}" ng-model="NewDCModel.txtProductControlId" id="txtProductControlId" attributenodeid="466" controlid="txtProductControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item">
                                <span>{{'ProductType' | xlat}}</span>
                                <div class="multiselect-button button-bar">
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkProductType' options='ProductType' ng-model="NewDCModel.chkProductType" attributenodeid="467" controlid="chkProductType"></buttons-band>
                                </div>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom" id="Column_370">
                            <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATTempControlId');SetAutoTemperatureListener('NewDCModel.ATTempControlId','NewDCModel.DTStartingTimeInControlId')">
                                <label ng-click="PreControlEvents(469,'ATTempControlId',$event)">
                                    <span>{{'Temp' | xlat }}(&deg;C)</span>
                                    <input type="tel" class="{{ATTempControlId}}" ng-readonly="{{ATTempControlId_IsReadOnly}}" ng-model="NewDCModel.ATTempControlId" id="ATTempControlId" attributenodeid="469" controlid="ATTempControlId" ng-change="MakeDecimalControl('ATTempControlId','#.#');ngChange_setIsManualFlag('ATTempControlId');Temperature_NgKeyUp(469,'ATTempControlId','DTStartingTimeInControlId',false);">
                                    <i class="icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom" id="Column_370">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(468,'DTStartingTimeInControlId',$event)">
                                    <span>{{ 'Time' | xlat}}</span>
                                    <input type="time" ng-disabled="{{DTStartingTimeInControlId_IsReadOnly}}" ng-model="NewDCModel.DTStartingTimeInControlId" ng-change="ngChange_setIsManualFlag('DTStartingTimeInControlId');ngChange_setDateTime('DTStartingTimeInControlId');Temperature_NgKeyUp(447,'DTStartingTimeInControlId','', false)" attributenodeid="468" controlid="DTStartingTimeInControlId" id="DTStartingTimeInControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->

                    <div class="title-bar rounded">{{'VehicleDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item" >
                                <label ng-click="PreControlEvents(471,'txtVehicleNoControlId',$event)">
                                    <span>{{'VehicleNo' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtVehicleNoControlId" controlid="txtVehicleNoControlId" id="txtVehicleNoControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATVehTempControlId');SetAutoTemperatureListener('NewDCModel.ATVehTempControlId','')">
                                <label ng-click="PreControlEvents(472,'ATVehTempControlId',$event)">
                                    <span>{{'VehTemp' | xlat }}(&deg;C)</span>
                                    <input type="tel" class="{{ATVehTempControlId}}" ng-readonly="{{ATVehTempControlId_IsReadOnly}}" ng-model="NewDCModel.ATVehTempControlId" id="ATVehTempControlId" attributenodeid="469" controlid="ATVehTempControlId" ng-change="MakeDecimalControl('ATVehTempControlId','#.#');ngChange_setIsManualFlag('ATVehTempControlId');">
                                    <i class="icon icon-thermometer"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-sm multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg">
                            <div class="field-item with-icon">
                                <label ng-click="PreControlEvents(473,'DTMovingTimenControlId',$event)">
                                    <span>{{ 'MovingTime' | xlat}}</span>
                                    <input type="time" ng-disabled="{{DTMovingTimeControlId_IsReadOnly}}" ng- ng-model="NewDCModel.DTMovingTimenControlId" ng-change="ngChange_setIsManualFlag('DTMovingTimenControlId');ngChange_setDateTime('DTMovingTimenControlId');Temperature_NgKeyUp(473,'DTMovingTimenControlId','', false)" attributenodeid="473" controlid="DTMovingTimenControlId" id="DTMovingTimenControlId">
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg margin-bottom">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(474,'txtCommentControlId',$event)">
                                    <span>{{'Comments' | xlat }}</span>
                                    <input type="text" ng-model="NewDCModel.txtCommentControlId" controlid="txtCommentControlId" id="txtCommentControlId">
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                </div>
                <!-- Main Column End -->

            </div>
            <!-- DC Form End -->
            <div class="row responsive-sm dc-button-holder margin-top-md">
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block button-calm" ng-click="ViewRecords()"><i class="icon icon-eye"></i> {{'ViewRecords' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" ng-click="ClearForm()" class="button button-block button-calm"><i class="icon icon-cancel-circle"></i> {{'Clear' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="AddRecords()" ng-disabled="DisableSave"><i class="icon icon-plus"></i> {{'Add' | xlat }}</a>
                  </div>
                  <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="SubmitRecords()" ng-disabled="DisableSaveSubmit"><i class="icon icon-check-circle"></i> {{'SaveSubmit' | xlat }}</a>
                  </div>
            </div>
        </div>
    </div>
</div>