<div ng-controller="NewTemperatureVerificationofDispatchingController">
    <div class="bar sub-header item-input-inset no-padding">
        <a href="javascript:void(0)" class="button button-clear" ng-click="Back()" ng-disabled="DisableBack"><i class="icon icon-chevron-left"></i>{{'Back' | xlat}}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="GetProbeStatus()"><i class="icon icon-thermometer"></i>{{Status | xlat }}</a>
        <a href="javascript:void(0)" class="button button-clear" ng-click="NCClick()" ng-show="BtnNCObservations"><i class="icon"></i>Observations</a>
        <label class="item-input-wrapper">

        </label>
        <span class="badge blue hide-sm"><span class="light">{{CompletedRecords}} / {{TotalCount}}</span><span class="badge badge-assertive">{{NCCount}}</span></span>
        <!--<span class="border-left">{{ 'Shift' | xlat}}</span>
        <div class="shift-bar">
            <buttons-band class="" data-toggle="buttons-band" model='NewDCModel.chkShift' options='ShiftOptions' ng-model="NewDCModel.chkShift" controlid="chkShift"></buttons-band>
        </div>-->
        <div class="shift-bar">
            <div dropdown-select="ShiftOptions" dropdown-model="chkShift" dropdown-item-label="text"></div>
        </div>

        <!--<div class="shift-bar">
            <input type="number" ng-model="NewDCModel.txtTestTempControlId" controlid="txtTestTempControlId" id="txtTestTempControlId" />
        </div>
        <div class="shift-bar">
            <button ng-click="ProbeTesting()">Probe Temp</button>
        </div>-->
    </div>

<!--<div class="bar bar-header">         
        <h3 style="width:100%">{{ NewDCModel.TxtFCOTypeControlId }} - {{ NewDCModel.MealControlId }}</h3>         
    </div>--> 

    <div class="scroll-content has-header scrollable padding custom-view" style="background: #eef3f5;">

        <div class="full-height scrollable">
            <div ng-show="DivContent">
                <!-- DC Form Start -->
                <div class="row no-padding responsive-sm multi-col">
                    <div class="col rounded light-bg">
                        <div class="field-item">
                            <label>
                                <span>{{'ItemNo' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.TxtFCOTypeControlId" controlid="TxtFCOTypeControlId" id="TxtFCOTypeControlId" attributenodeid="8288">
                            </label>
                        </div>

                    </div>

                    <div class="col rounded light-bg">
                        <div class="field-item">
                            <label>
                                <span>{{'NameOfMeal' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.MealControlId" controlid="MealControlId" id="MealControlId" attributenodeid="8287">
                            </label>
                        </div>
                    </div>

                    <div class="col rounded light-bg">
                        <div class="field-item" onclick="AutoCompleteStartEvent('AddlFAndBControlId', 'F&B', 214, 12213, true)">
                            <label>
                                <span>{{'F&B' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.AddlFAndBControlId" controlid="AddlFAndBControlId" id="AddlFAndBControlId" attributenodeid="12213" readonly="true">
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row no-padding responsive-sm multi-col">

                    <div class="col rounded light-bg">
                        <div class="field-item">
                            <label>
                                <span>{{'DispatchGroup' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.txtDispatchGroupControlId" controlid="txtDispatchGroupControlId" id="txtDispatchGroupControlId" attributenodeid="12207">
                            </label>
                        </div>
                    </div>


                    <div class="col rounded light-bg" id="Column_8475">
                        <div class="field-item with-icon">
                            <label>
                                <span>{{'ScheduleTime' | xlat}}</span>
                                <input type="datetime-local" ng-model="NewDCModel.txtScheduleDateandTimeControlId" ng-change="ngChange_setIsManualFlag('txtScheduleDateandTimeControlId');ngChange_setDateTime('txtScheduleDateandTimeControlId');Temperature_NgKeyUp(8475,'txtScheduleDateandTimeControlId', '',false,'');" attributenodeid="8475" controlid="txtScheduleDateandTimeControlId" id="txtScheduleDateandTimeControlId">
                                <i class="icon icon-clock-o"></i>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row no-padding responsive-sm multi-col">

                    <div class="col rounded light-bg" id="Column_8290">
                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATDeliveryTempControlId');SetAutoTemperatureListener('NewDCModel.ATDeliveryTempControlId','')">

                            <label>

                                <span>{{'DeliveryTemp' | xlat}}(&deg;C)</span>
                                <input type="tel" ng-readonly="{{ATDeliveryTempControlId_IsReadOnly}}" class="{{ATDeliveryTempControlId}}" ng-model="NewDCModel.ATDeliveryTempControlId" attributenodeid="12226" controlid="ATDeliveryTempControlId" id="ATDeliveryTempControlId" ng-change="MakeDecimalControl('ATDeliveryTempControlId','#.#');Temperature_NgKeyUp(12226,'ATDeliveryTempControlId','DTDeliveryTimeControlId', false,12227)">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg" id="Column_8291">

                        <div class="field-item with-icon">

                            <label>

                                <span>{{'DeliveryTime' | xlat}}</span>
                                <input type="time" ng-disabled="{{DTDeliveryTimeControlId_IsReadOnly}}" ng-change="ngChange_setIsManualFlag('DTDeliveryTimeControlId');ngChange_setDateTime('DTDeliveryTimeControlId');Temperature_NgKeyUp(12227,'DTDeliveryTimeControlId', '',false,'');" ng-model="NewDCModel.DTDeliveryTimeControlId" attributenodeid="12227" controlid="DTDeliveryTimeControlId" id="DTDeliveryTimeControlId">
                                <i class="icon icon-clock-o"></i>

                            </label>

                        </div>

                    </div>

                </div>
                <div class="row no-padding responsive-sm multi-col">

                    <div class="col rounded light-bg" id="Column_8293">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATDispatchTempControlId');SetAutoTemperatureListener('NewDCModel.ATDispatchTempControlId','')">

                            <label>

                                <span>{{'DispatchTemp' | xlat}}(&deg;C)</span>
                                <input type="tel" ng-readonly="{{ATDispatchTempControlId_IsReadOnly}}" class="{{ATDispatchTempControlId}}" ng-model="NewDCModel.ATDispatchTempControlId" attributenodeid="12230" controlid="ATDispatchTempControlId" id="ATDispatchTempControlId" ng-change="MakeDecimalControl('ATDispatchTempControlId','#.#');Temperature_NgKeyUp(12230,'ATDispatchTempControlId','DTDispatchTimeControlId', false,12232)">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg" id="Column_8294">

                        <div class="field-item with-icon">

                            <label>

                                <span>{{'DispatchTime' | xlat}}</span>
                                <input type="time" ng-disabled="{{DTDispatchTimeControlId_IsReadOnly}}" ng-change="ngChange_setIsManualFlag('DTDispatchTimeControlId');ngChange_setDateTime('DTDispatchTimeControlId');Temperature_NgKeyUp(12232,'DTDispatchTimeControlId', '',false,'');" ng-model="NewDCModel.DTDispatchTimeControlId" attributenodeid="12232" controlid="DTDispatchTimeControlId" id="DTDispatchTimeControlId">
                                <i class="icon icon-clock-o"></i>

                            </label>

                        </div>

                    </div>

                </div>
                <div class="row responsive-md no-padding-vertical">

                    <div class="col no-padding no-margin">

                        <div class="title-bar rounded">{{'FlightDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlSectorControlId', 'Sector', 210, 12210, true)">
                                    <label>
                                        <span>{{'Sector' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.AddlSectorControlId" controlid="AddlSectorControlId" id="AddlSectorControlId" attributenodeid="12210" readonly="true" />
                                    </label>
                                </div>
                            </div>

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlFlightControlId', 'Airline', 212, 12211, true)">
                                    <label>
                                        <span>{{'Airline' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.AddlFlightControlId" controlid="AddlFlightControlId" id="AddlFlightControlId" attributenodeid="12211" readonly="true">
                                    </label>
                                </div>
                            </div>

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('AddlAirlineControlId', 'Flight', 213, 12212, true)">
                                    <label>
                                        <span>{{'Flight' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.AddlAirlineControlId" controlid="AddlAirlineControlId" id="AddlAirlineControlId" attributenodeid="12212" readonly="true">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding responsive-sm multi-col">

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('txtClassControlId', 'Class', 211, 12217, true)">
                                    <label>
                                        <span>{{'Class' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.txtClassControlId" controlid="txtClassControlId" id="txtClassControlId" attributenodeid="12217" readonly="true">
                                    </label>
                                </div>
                            </div>
                            <div class="col rounded light-bg" id="Column_339">
                                <div class="field-item with-icon">
                                    <label>
                                        <span>{{'EDD' | xlat}}</span>
                                        <!--<input type="datetime-local" ng-model="NewDCModel.DTETAControlId" attributenodeid="8296" controlid="DTETAControlId" id="DTETAControlId">-->
                                        <input type="date" ng-model="NewDCModel.DTETAControlId" attributenodeid="8279" controlid="DTETAControlId" id="DTETAControlId">
                                        <i class="icon icon-clock-o"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col rounded light-bg" id="Column_339">

                                <div class="field-item with-icon">

                                    <label>

                                        <span>{{'ETD' | xlat}}</span>
                                        <!--<input type="datetime-local" ng-model="NewDCModel.DTETDControlId" attributenodeid="8296" controlid="DTETDControlId" id="DTETDControlId">-->
                                        <input type="time" ng-model="NewDCModel.DTETDControlId" attributenodeid="8280" controlid="DTETDControlId" id="DTETDControlId">
                                        <i class="icon icon-clock-o"></i>

                                    </label>

                                </div>

                            </div>


                        </div>


                    </div>


                </div>
                <div class="row responsive-md no-padding-vertical">

                    <div class="col no-padding">


                        <div class="title-bar rounded">{{'HiLoaderDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">



                            <div class="col rounded light-bg">

                                <div class="field-item">

                                    <label>

                                        <span>{{'HiLoaderNo' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.txtHiLoaderNoControlId" controlid="txtHiLoaderNoControlId" id="txtHiLoaderNoControlId" attributenodeid="8298">

                                    </label>

                                </div>

                            </div>

                            <div class="col rounded light-bg" id="Column_339">

                                <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATHiLoaderTempControlId');SetAutoTemperatureListener('NewDCModel.ATHiLoaderTempControlId','')">

                                    <label>

                                        <span>{{'HiLoaderTemp' | xlat}}(&deg;C)</span>
                                        <input type="tel" class="{{ATHiLoaderTempControlId}}" ng-model="NewDCModel.ATHiLoaderTempControlId" attributenodeid="8303" controlid="ATHiLoaderTempControlId" id="ATHiLoaderTempControlId" ng-change="MakeDecimalControl('ATHiLoaderTempControlId','#.#');Temperature_NgKeyUp(2613,'ATHiLoaderTempControlId','txtTimeofLoadingControlId', false,8296)">
                                        <i class="icon icon-thermometer"></i>

                                    </label>

                                </div>

                            </div>


                        </div>

                        <div class="row no-padding responsive-sm multi-col">


                            <div class="col rounded light-bg" id="Column_339">

                                <div class="field-item with-icon">

                                    <label>

                                        <span>{{'TimeOfLoading' | xlat}}</span>
                                        <input type="datetime-local" ng-model="NewDCModel.txtTimeofLoadingControlId" attributenodeid="8296" controlid="txtTimeofLoadingControlId" id="txtTimeofLoadingControlId">
                                        <i class="icon icon-clock-o"></i>

                                    </label>

                                </div>

                            </div>

                            <div class="col rounded light-bg" id="Column_339">

                                <div class="field-item with-icon">

                                    <label>

                                        <span>{{'TimeOfMoving' | xlat}}</span>
                                        <input type="datetime-local" ng-model="NewDCModel.DTTimeofMovingControlId" attributenodeid="8297" controlid="DTTimeofMovingControlId" id="DTTimeofMovingControlId">
                                        <i class="icon icon-clock-o"></i>

                                    </label>

                                </div>

                            </div>



                        </div>

                        <div class="title-bar rounded">{{'RefrigeratorDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">


                            <div class="col rounded light-bg" id="Column_63">

                                <div class="field-item with-icon">

                                    <span>{{'RefrigeratorCondition' | xlat}}</span>
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.chkRefrigeratorConditionControlId" options="RefrigeratorConditions" ng-model="NewDCModel.chkRefrigeratorConditionControlId" attributenodeid="8299" controlid="chkRefrigeratorConditionControlId"></buttons-band>

                                </div>

                            </div>

                            <div class="col rounded light-bg" id="Column_63">

                                <div class="field-item with-icon">

                                    <span>{{'RefrigeratorStatus' | xlat}}</span>
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.chkRefrigeratorStatusControlId" options="RefrigeratorStatus" ng-model="NewDCModel.chkRefrigeratorStatusControlId" attributenodeid="8300" controlid="chkRefrigeratorStatusControlId"></buttons-band>

                                </div>

                            </div>


                        </div>


                    </div>
                    <div class="col no-padding">


                        <div class="title-bar rounded">{{'OtherDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">



                            <div class="col rounded light-bg" id="Column_63">

                                <div class="field-item with-icon">

                                    <span>{{'MealsInOven' | xlat}}</span>
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.chkMealsinOvenControlId" options="MealsinOvens" ng-model="NewDCModel.chkMealsinOvenControlId" attributenodeid="8302" controlid="chkMealsinOvenControlId"></buttons-band>

                                </div>

                            </div>

                            <div class="col rounded light-bg" id="Column_63">

                                <div class="field-item with-icon">

                                    <span>{{'DryIceAdded' | xlat}}</span>
                                    <!--// <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.chkMealsinOvenControlId" options="MealsinOvens" ng-model="NewDCModel.chkMealsinOvenControlId" attributenodeid="8302" controlid="chkMealsinOvenControlId"></buttons-band>-->
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.chkDryIceAddedControlId" options="DryIceAddeds" ng-model="NewDCModel.chkDryIceAddedControlId" attributenodeid="8303" controlid="chkDryIceAddedControlId"></buttons-band>

                                </div>

                            </div>


                        </div>

                        <div class="row no-padding responsive-sm multi-col">


                            <div class="col rounded light-bg">

                                <div class="field-item">

                                    <label>

                                        <span>{{'TypeOfMeal' | xlat}}</span>
                                        <!--//<input type="text" ng-model="NewDCModel.TxtFCOTypeControlId" controlid="TxtFCOTypeControlId" id="TxtFCOTypeControlId" attributenodeid="8285">-->
                                        <input type="text" ng-model="NewDCModel.MealMealTypeControlId" controlid="MealMealTypeControlId" id="MealMealTypeControlId" attributenodeid="8285">

                                    </label>

                                </div>

                            </div>

                            <div class="col rounded light-bg">

                                <div class="field-item">

                                    <label>

                                        <span>{{'Comments' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.txtCommentsControlId" controlid="txtCommentsControlId" id="txtCommentsControlId" attributenodeid="8304">

                                    </label>

                                </div>

                            </div>


                        </div>

                        <div class="title-bar rounded">{{'AmbientTempDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">


                            <div class="col rounded light-bg" id="Column_8754">

                                <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATDeliveryAmbientTempControlId');SetAutoTemperatureListener('NewDCModel.ATDeliveryAmbientTempControlId','')">

                                    <label>

                                        <span>{{'DeliveryAmbientTemp' | xlat}}(&deg;C)</span>
                                        <input type="tel" class="{{ATDeliveryAmbientTempControlId}}" ng-model="NewDCModel.ATDeliveryAmbientTempControlId" attributenodeid="8754" controlid="ATDeliveryAmbientTempControlId" id="ATDeliveryAmbientTempControlId" ng-change="MakeDecimalControl('ATDeliveryAmbientTempControlId','#.#');Temperature_NgKeyUp(8754,'ATDeliveryAmbientTempControlId','', false,'')">
                                        <i class="icon icon-thermometer"></i>

                                    </label>

                                </div>

                            </div>

                            <div class="col rounded light-bg" id="Column_8755">

                                <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('ATDispatchAmbientTempControlId');SetAutoTemperatureListener('NewDCModel.ATDispatchAmbientTempControlId','')">

                                    <label>

                                        <span>{{'DispatchAmbientTemp' | xlat}}(&deg;C)</span>
                                        <input type="tel" class="{{ATDispatchAmbientTempControlId}}" ng-model="NewDCModel.ATDispatchAmbientTempControlId" attributenodeid="8755" controlid="ATDispatchAmbientTempControlId" id="ATDispatchAmbientTempControlId" ng-change="MakeDecimalControl('ATDispatchAmbientTempControlId','#.#');Temperature_NgKeyUp(8755,'ATDispatchAmbientTempControlId','', false,'')">
                                        <i class="icon icon-thermometer"></i>

                                    </label>

                                </div>

                            </div>


                        </div>


                    </div>

                </div>
                <!-- DC Form End -->
                <div class="row responsive-sm dc-button-holder margin-top-md">
                    <div class="col no-padding">
                        <a href="javascript:void(0)" class="button button-block button-calm" ng-click="ViewRecords()"><i class="icon icon-eye"></i> {{'ViewRecords' | xlat }}</a>
                    </div>
                    <div class="col no-padding">
                        <a href="javascript:void(0)" ng-click="ClearForm()" class="button button-block button-calm"><i class="icon icon-cancel-circle"></i> {{'Clear' | xlat }}</a>
                    </div>
                    <div class="col no-padding">
                        <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="AddRecords()" ng-disabled="DisableSave"><i class="icon icon-plus"></i> {{'Add' | xlat }}</a>
                    </div>
                    <div class="col no-padding">
                        <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="SubmitRecords()" ng-disabled="DisableSaveSubmit"><i class="icon icon-check-circle"></i> {{'SaveSubmit' | xlat }}</a>
                    </div>
                </div>
            </div>

            <div ng-show="DivNGForm">


                <div class="row responsive-md no-padding-vertical">


                    <div class="col no-padding">


                        <div class="row no-padding responsive-sm multi-col">

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('ddlDepartmentControlId', 'Department', 202)">
                                    <label>
                                        <span>{{'Department' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.ddlDepartmentControlId" attributenodeid="117" controlid="ddlDepartmentControlId" readonly="true">
                                    </label>
                                </div>
                            </div>

                            <div class="col rounded light-bg">
                                <div class="field-item" onclick="AutoCompleteStartEvent('ddlSectionControlId', 'Section', 203)">
                                    <label>
                                        <span>{{'Section' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.ddlSectionControlId" attributenodeid="117" controlid="ddlSectionControlId" readonly="true">
                                    </label>
                                </div>
                            </div>

                            </div>

                        <div class="title-bar rounded">{{'FlightDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">

                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>{{'Flight' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.AddlAirlineControlId" controlid="AddlAirlineControlId" disabled="disabled" />
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->

                            <div class="col rounded light-bg">
                                <div class="field-item with-icon">
                                    <label>
                                        <span>{{'ETA' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.DTETAControlId" attributenodeid="120" controlid="DTETAControlId" id="DTETAControlId" disabled="disabled" />
                                        <i class="icon icon-clock-o"></i>
                                    </label>
                                </div>
                            </div>

                            <div class="col rounded light-bg">
                                <div class="field-item with-icon">
                                    <label>
                                        <span>{{'ETD' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.DTETDControlId" attributenodeid="120" controlid="DTETDControlId" id="DTETDControlId" disabled="disabled" />
                                        <i class="icon icon-clock-o"></i>
                                    </label>
                                </div>
                            </div>

                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>{{'Class' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.txtClassControlId" attributenodeid="121" controlid="txtClassControlId" disabled="disabled" />
                                    </label>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="col no-padding">


                        <div class="title-bar rounded">{{'MealDetails' | xlat}}</div>

                        <div class="row no-padding responsive-sm multi-col">


                            <div class="col rounded light-bg">

                                <div class="field-item">

                                    <label>

                                        <span>{{'MealType' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.MealMealTypeControlId" attributenodeid="121" controlid="MealMealTypeControlId" disabled="disabled" />

                                    </label>

                                </div>

                            </div>

                            <div class="col rounded light-bg">

                                <div class="field-item with-icon">

                                    <label>

                                        <span>{{'TimeInspected' | xlat}}</span>
                                        <!--<input type="time" ng-model="NewDCModel.DTTimeInspectedControlId" attributenodeid="120" controlid="DTTimeInspectedControlId" id="DTTimeInspectedControlId" />-->
                                        <input type="datetime-local" ng-model="NewDCModel.DTTimeInspectedControlId" ng-change="ngChange_setIsManualFlag('DTTimeInspectedControlId');ngChange_setDateTime('DTTimeInspectedControlId');Temperature_NgKeyUp(318,'DTTimeInspectedControlId', '',false,'');" attributenodeid="318" controlid="DTTimeInspectedControlId" id="DTTimeInspectedControlId">
                                        <i class="icon icon-clock-o"></i>

                                    </label>

                                </div>

                            </div>


                        </div>

                        <div class="row no-padding responsive-sm multi-col">

                            <div class="col rounded light-bg">
                                <div class="field-item">
                                    <label>
                                        <span>{{'NameoftheMeal' | xlat}}</span>
                                        <input type="text" ng-model="NewDCModel.MealControlId" attributenodeid="121" controlid="MealControlId" disabled="disabled" />
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

                <div class="title-bar rounded">{{'Reading' | xlat}}</div>

                <div class="row no-padding responsive-md multi-col">


                    <div class="col rounded light-bg">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('Reading1ControlId');SetAutoTemperatureListener('NewDCModel.Reading1ControlId','')">

                            <label>

                                <span>{{'Reading1' | xlat}}</span>
                                <input type="tel" class="{{Reading1ControlId}}" ng-model="NewDCModel.Reading1ControlId" attributenodeid="119" controlid="Reading1ControlId" ng-change="MakeDecimalControl('Reading1ControlId','#.#');SetHygAvgrageReading();" id="Reading1ControlId">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('Reading2ControlId');SetAutoTemperatureListener('NewDCModel.Reading2ControlId','')">

                            <label>

                                <span>{{'Reading2' | xlat}}</span>
                                <input type="tel" class="{{Reading2ControlId}}" ng-model="NewDCModel.Reading2ControlId" attributenodeid="119" controlid="Reading2ControlId" ng-change="MakeDecimalControl('Reading2ControlId','#.#');SetHygAvgrageReading();" id="Reading2ControlId">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('Reading3ControlId');SetAutoTemperatureListener('NewDCModel.Reading3ControlId','')">

                            <label>

                                <span>{{'Reading3' | xlat}}</span>
                                <input type="tel" class="{{Reading3TempControlId}}" ng-model="NewDCModel.Reading3ControlId" attributenodeid="119" controlid="Reading3ControlId" ng-change="MakeDecimalControl('Reading3ControlId','#.#');SetHygAvgrageReading();" id="Reading3ControlId">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('Reading4ControlId');SetAutoTemperatureListener('NewDCModel.Reading4ControlId','')">

                            <label>

                                <span>{{'Reading4' | xlat}}</span>
                                <input type="tel" class="{{Reading4TempControlId}}" ng-model="NewDCModel.Reading4ControlId" attributenodeid="119" controlid="Reading4ControlId" ng-change="MakeDecimalControl('Reading4ControlId','#.#');SetHygAvgrageReading();" id="Reading4ControlId">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">

                        <div class="field-item with-icon" ng-click="SetSelectedTextBoxColor('Reading5ControlId');SetAutoTemperatureListener('NewDCModel.Reading5ControlId','')">

                            <label>

                                <span>{{'Reading5' | xlat}}</span>
                                <input type="tel" class="{{Reading5TempControlId}}" ng-model="NewDCModel.Reading5ControlId" attributenodeid="119" controlid="Reading5ControlId" ng-change="MakeDecimalControl('Reading5ControlId','#.#');SetHygAvgrageReading();" id="Reading5ControlId">
                                <i class="icon icon-thermometer"></i>

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">
                        <div class="field-item with-icon">
                            <label>
                                <span>{{'AverageTemp' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.AverageTempControlId" attributenodeid="121" controlid="AverageTempControlId" disabled="disabled" />
                                <i class="icon icon-thermometer"></i>
                            </label>
                        </div>
                    </div>


                </div>

                <div class="row no-padding responsive-md multi-col">


                    <div class="col rounded light-bg signature">

                        <div class="field-item">

                            <div>

                                <span>{{'EnterName' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.txtNcEnterNameControlId" attributenodeid="10321" controlid="txtNcEnterNameControlId" id="txtNcEnterNameControlId">

                            </div>
                            <div>

                                <label>

                                    <span>{{lblSignature}}</span>

                                </label>

                            </div>
                            <a href="javascript:void(0)" ng-click="Signature()" class="button button-icon icon icon-pencil"></a>

                        </div>

                    </div>


                </div>

                <div class="row responsive-sm dc-button-holder">

                    <div class="col no-padding">

                        <a href="javascript:void(0)" ng-click="ShowResolution()" class="button button-block button-calm">{{'Resolution' | xlat}}</a>

                    </div>
                    <div class="col no-padding">

                        <a href="javascript:void(0)" ng-click="HideNC()" class="button button-block button-stable"><i class="icon icon-cancel-circle"></i> {{'Cancel' | xlat}}</a>

                    </div>
                    <div class="col no-padding">

                        <a href="javascript:void(0)" ng-click="SaveNCAction()" class="button button-block  button-calm"><i class="icon icon-plus"></i> {{'Save' | xlat}}</a>

                    </div>

                </div>


            </div>
            <div class="full-height" ng-show="ResolutionShow">


                <div class="row no-padding responsive-md multi-col">


                    <div class="col rounded light-bg">

                        <div class="field-item with-icon">

                            <span>{{'DecisionNonConformingProduct' | xlat}}</span>
                            <buttons-band class="button-bar" data-toggle="buttons-band" model="NewDCModel.txtDecisionControlId" options="ResolutionDetails" ng-model="NewDCModel.txtDecisionControlId" controlid="txtDecisionControlId"></buttons-band>

                        </div>

                    </div>


                </div>

                <div class="row no-padding responsive-md multi-col">


                    <div class="col col-33 rounded light-bg">

                        <div class="field-item">

                            <label>

                                <span>{{'QuantityOfDryIce' | xlat}}</span>
                                <input type="number" ng-model="NewDCModel.txtQuantityControlId" attributenodeid="121" controlid="txtQuantityControlId" />

                            </label>

                        </div>

                    </div>

                    <div class="col rounded light-bg">

                        <div class="field-item">

                            <label>

                                <span>{{'ActionReason' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.txtReasonControlId" attributenodeid="121" controlid="txtReasonControlId" />

                            </label>

                        </div>

                    </div>


                </div>

                <div class="row no-padding responsive-md multi-col">


                    <div class="col rounded light-bg signature">

                        <div class="field-item">

                            <div>

                                <span>{{'EnterName' | xlat}}</span>
                                <input type="text" ng-model="NewDCModel.txtResoultionEnterNameControlId" attributenodeid="10322" controlid="txtResoultionEnterNameControlId" id="txtResoultionEnterNameControlId">

                            </div>
                            <div>

                                <label>

                                    <span>{{lblResultionSignature}}</span>

                                </label>

                            </div>
                            <a href="javascript:void(0)" ng-click="ActionSignature()" class="button button-icon icon icon-pencil"></a>

                        </div>

                    </div>


                </div>

                <div class="row responsive-sm dc-button-holder margin-top-md">

                    <div class="col no-padding">

                        <a href="javascript:void(0)" class="button button-block button-calm" ng-click="HideResolution();">{{'NCR' | xlat}}</a>

                    </div>

                    <div class="col no-padding">

                        <a href="javascript:void(0)" class="button button-block button-calm" ng-click="HideResolution();">{{'FinalizeNCR' | xlat}}</a>

                    </div>

                </div>

            </div>
            <div class="scroll-content" ng-show="DivSignature">

                <div class="signature-pad">
                    <div id="SignaturePad" class="m-signature-pad">
                        <div class="m-signature-pad--body">
                            <canvas></canvas>
                        </div>
                        <div class="m-signature-pad--footer">
                            <div class="description">{{'Signabove' | xlat}}</div>
                            <button class="button button-assertive clear" data-action="clear">{{'Clear' | xlat}}</button>
                            <button class="button button-calm save" data-action="save">{{'Save' | xlat}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-content" ng-show="DivNCSignature">
                <div class="signature-pad">
                    <div id="ActionSignaturePad" class="m-signature-pad">
                        <div class="m-signature-pad--body">
                            <canvas></canvas>
                        </div>
                        <div class="m-signature-pad--footer">
                            <div class="description">{{'Signabove' | xlat}}</div>
                            <button class="button button-assertive clear" data-action="clear">{{'Clear' | xlat}}</button>
                            <button class="button button-calm save" data-action="save">{{'Save' | xlat}}</button>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div> 
    
</div>
