@font-face {
	font-family: 'oneview';
	src:url('fonts/oneview.eot?-qicrti');
	src:url('fonts/oneview.eot?#iefix-qicrti') format('embedded-opentype'),
		url('fonts/oneview.ttf?-qicrti') format('truetype'),
		url('fonts/oneview.woff?-qicrti') format('woff'),
		url('fonts/oneview.svg?-qicrti#oneview') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon{
	display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] , .icon{
	font-family: 'oneview';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e938";
}
.icon-link:before {
    content: "\e90c";
}
.icon-thumb-up-outline-symbol:before {
    content: "\e90b";
}
.icon-Arrownavigateclose:before {
    content: "\e909";
}
.icon-Businessaffiliatenetwork:before {
    content: "\e90a";
}
.icon-info28:before {
    content: "\e904";
}
.icon-sign92:before {
    content: "\e905";
}
.icon-social13:before {
    content: "\e906";
}
.icon-synchronization2:before {
    content: "\e907";
}
.icon-arrow68:before {
    content: "\e908";
}
.icon-live_help:before {
	content: "\e900";
}
.icon-arrow-loop:before {
	content: "\e901";
}
.icon-bluetooth-audio:before {
	content: "\e7b9";
}
.icon-box-add:before {
	content: "\e902";
}
.icon-cloud-download2:before {
	content: "\e903";
}
.icon-cancel-circle:before {
	content: "\e803";
}
.icon-loop:before {
	content: "\e802";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-checkmark:before {
	content: "\e800";
}
.icon-hourglass:before {
	content: "\e801";
}
.icon-truck:before {
	content: "\e60f";
}
.icon-battery:before {
	content: "\e602";
}
.icon-battery2:before {
	content: "\e606";
}
.icon-battery3:before {
	content: "\e60c";
}
.icon-battery4:before {
	content: "\e60d";
}
.icon-thermometer:before {
	content: "\e7b5";
}
.icon-chat:before {
	content: "\e7b6";
}
.icon-clipboard:before {
	content: "\e7b7";
}
.icon-clipboard2:before {
	content: "\e7b8";
}
.icon-search:before {
	content: "\e600";
}
.icon-envelope-o:before {
	content: "\e601";
}
.icon-star:before {
	content: "\e603";
}
.icon-star-o:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e605";
}
.icon-th-large:before {
	content: "\e607";
}
.icon-th:before {
	content: "\e608";
}
.icon-th-list:before {
	content: "\e609";
}
.icon-check:before {
	content: "\e60a";
}
.icon-times:before {
	content: "\e60b";
}
.icon-power-off:before {
	content: "\e60e";
}
.icon-gear:before {
	content: "\e610";
}
.icon-trash-o:before {
	content: "\e611";
}
.icon-home:before {
	content: "\e612";
}
.icon-clock-o:before {
	content: "\e614";
}
.icon-lock:before {
	content: "\e61e";
}
.icon-barcode:before {
	content: "\e625";
}
.icon-camera:before {
	content: "\e62b";
}
.icon-align-left:before {
	content: "\e631";
}
.icon-align-justify:before {
	content: "\e634";
}
.icon-photo:before {
	content: "\e639";
}
.icon-pencil:before {
	content: "\e63a";
}
.icon-map-marker:before {
	content: "\e63b";
}
.icon-edit:before {
	content: "\e63e";
}
.icon-check-square-o:before {
	content: "\e640";
}
.icon-chevron-left:before {
	content: "\e64c";
}
.icon-chevron-right:before {
	content: "\e64d";
}
.icon-plus-circle:before {
	content: "\e64e";
}
.icon-minus-circle:before {
	content: "\e64f";
}
.icon-times-circle:before {
	content: "\e650";
}
.icon-check-circle:before {
	content: "\e651";
}
.icon-question-circle:before {
	content: "\e652";
}
.icon-info-circle:before {
	content: "\e653";
}
.icon-times-circle-o:before {
	content: "\e655";
}
.icon-check-circle-o:before {
	content: "\e656";
}
.icon-ban:before {
	content: "\e657";
}
.icon-plus:before {
	content: "\e65f";
}
.icon-minus:before {
	content: "\e660";
}
.icon-asterisk:before {
	content: "\e661";
}
.icon-exclamation-circle:before {
	content: "\e662";
}
.icon-eye:before {
	content: "\e666";
}
.icon-eye-slash:before {
	content: "\e667";
}
.icon-warning:before {
	content: "\e668";
}
.icon-plane:before {
	content: "\e669";
}
.icon-calendar:before {
	content: "\e66a";
}
.icon-comment:before {
	content: "\e66c";
}
.icon-chevron-up:before {
	content: "\e66e";
}
.icon-chevron-down:before {
	content: "\e66f";
}
.icon-retweet:before {
	content: "\e670";
}
.icon-key:before {
	content: "\e67a";
}
.icon-gears:before {
	content: "\e67b";
}
.icon-comments:before {
	content: "\e67c";
}
.icon-bullhorn:before {
	content: "\e695";
}
.icon-bell-o:before {
	content: "\e696";
}
.icon-wrench:before {
	content: "\e6a1";
}
.icon-filter:before {
	content: "\e6a3";
}
.icon-square:before {
	content: "\e6ae";
}
.icon-navicon:before {
	content: "\e6af";
}
.icon-table:before {
	content: "\e6b4";
}
.icon-columns:before {
	content: "\e6c0";
}
.icon-envelope:before {
	content: "\e6c4";
}
.icon-comment-o:before {
	content: "\e6c9";
}
.icon-comments-o:before {
	content: "\e6ca";
}
.icon-lightbulb-o:before {
	content: "\e6cf";
}
.icon-cloud-download:before {
	content: "\e6d1";
}
.icon-cloud-upload:before {
	content: "\e6d2";
}
.icon-bell:before {
	content: "\e6d6";
}
.icon-angle-left:before {
	content: "\e6e6";
}
.icon-angle-right:before {
	content: "\e6e7";
}
.icon-angle-up:before {
	content: "\e6e8";
}
.icon-angle-down:before {
	content: "\e6e9";
}
.icon-desktop:before {
	content: "\e6ea";
}
.icon-laptop:before {
	content: "\e6eb";
}
.icon-tablet:before {
	content: "\e6ec";
}
.icon-mobile-phone:before {
	content: "\e6ed";
}
.icon-circle-o:before {
	content: "\e6ee";
}
.icon-smile-o:before {
	content: "\e6f7";
}
.icon-frown-o:before {
	content: "\e6f8";
}
.icon-meh-o:before {
	content: "\e6f9";
}
.icon-location-arrow:before {
	content: "\e702";
}
.icon-code-fork:before {
	content: "\e704";
}
.icon-question:before {
	content: "\e706";
}
.icon-info:before {
	content: "\e707";
}
.icon-exclamation:before {
	content: "\e708";
}
.icon-calendar-o:before {
	content: "\e710";
}
.icon-ellipsis-h:before {
	content: "\e71d";
}
.icon-ellipsis-v:before {
	content: "\e71e";
}
.icon-ticket:before {
	content: "\e721";
}
.icon-check-square:before {
	content: "\e726";
}
.icon-database:before {
	content: "\e794";
}
.icon-send:before {
	content: "\e7ab";
}
.icon-send-o:before {
	content: "\e7ac";
}
.icon-history:before {
	content: "\e7ad";
}
.icon-circle-thin:before {
	content: "\e7ae";
}
.icon-sliders:before {
	content: "\e7b1";
}
.icon-share-alt:before {
	content: "\e7b2";
}