<div ng-controller="IncidentReportController">
    <div class="bar sub-header item-input-inset no-padding">
        <!--<a href="javascript:void(0)" class="button button-clear" ng-click="Back()"><i class="icon icon-chevron-left"></i>{{'Back' | xlat}}</a>-->
        <!--<a href="javascript:void(0)" class="button button-clear activated" ng-click="GetProbeStatus()"><i class="icon icon-thermometer"></i>{{Status | xlat }}</a>-->
        <label class="item-input-wrapper">

        </label>
        <span class="badge blue hide-sm"><span class="light">{{CompletedRecords}}</span>/{{TotalCount}}<span class="badge badge-assertive">{{NCCount}}</span></span>

        <div class="shift-bar">
            <div dropdown-select="ShiftOptions" dropdown-model="chkShift" dropdown-item-label="text"></div>
        </div>
   
    </div>

    <div class="scroll-content has-header padding custom-view" id="ContentId">
        <div class="full-height scrollable">
            <!-- DC Form Start -->
            <div class="row responsive-md no-padding-vertical">
                <!-- Main Column Start -->
                <div class="col no-padding no-margin">
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'IncidentPlace' | xlat}}</div>
                      <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_117">
                            <div class="field-item">
                                <!--<label>-->
                                    <span>{{'Incident Occurs On' | xlat}}</span>
                                
                                <div class="multiselect-button button-bar">
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkIncidentOccursOn' options='IncidentOccursOns' ng-model="NewDCModel.chkIncidentOccursOn" attributenodeid="47" controlid="chkIncidentOccursOn"></buttons-band>
                                </div>
                                <!--</label>-->
                            </div>
                        </div>

                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_117" ng-show="Div_AddlSiteControlId">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlUnitControlId', 'Site', 201, 110)">
                                <label>
                                    <span>{{'Site' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlUnitControlId" attributenodeid="110" controlid="AddlUnitControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                  
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Div1" ng-show="Div_txtOtherControlId">
                            <div class="field-item">
                                <label>
                                    <span>{{'Custom Incident Place' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.txtOtherControlId" controlid="txtOtherControlId" id="txtOtherControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col" ng-show="Div_WR">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Div1" ng-show="Div_AddlFloorControlId">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlDepartmentControlId', 'Floor', 202, 111)">
                                <label>
                                    <span>{{'Floor' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlDepartmentControlId" attributenodeid="111" controlid="AddlDepartmentControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                   
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Div3" ng-show="Div_AddlRoomControlId">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlLocationControlId', 'Room', 203, 112)">
                                <label>
                                    <span>{{'Room' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlLocationControlId" attributenodeid="112" controlid="AddlLocationControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                     
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'IncidentDetails' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Div4">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlObservationTypeControlId', 'Incident Type', 220, 115)">
                                <label ng-click="PreControlEvents(115,'AddlObservationTypeControlId',$event)">
                                    <span>{{'Incident Type' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlObservationTypeControlId" attributenodeid="115" controlid="AddlObservationTypeControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Div4">
                            <div class="field-item" onclick="AutoCompleteStartEvent('AddlObservationControlId', 'Category', 220, 116)">
                                <label ng-click="PreControlEvents(116,'AddlObservationControlId',$event)">
                                    <span>{{'Category' | xlat}}</span>
                                    <input type="text" ng-model="NewDCModel.AddlObservationControlId" attributenodeid="116" controlid="AddlObservationControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_430" >
                            <div class="field-item">
                                <span>{{'RiskType' | xlat}}</span>
                                <div class="multiselect-button button-bar">
                                    <buttons-band class="button-bar" data-toggle="buttons-band" model='NewDCModel.chkRiskTypeControlId' options='RiskType' ng-model="NewDCModel.chkRiskTypeControlId" attributenodeid="47" controlid="chkRiskTypeControlId"></buttons-band>
                                </div>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                 
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">Observation</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div ng-show="ObservationRow">
                        <div class="row observation margin-bottom">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg scrollable">
                                <tick-list multiple="true" selected-icon="ion-checkmark" class="profileDownloadList">
                                    <tick-list-item ng-class="selectgetClass(Observation.selected)" ng-repeat="Observation in ObservationList" selected="{{Observation.selected}}" selected-icon="{{Observation.icon}}" model="Observation" on-change="onFacilitylistItemChanged(Observation)">{{Observation.label}}</tick-list-item>
                                </tick-list>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <!--<div class="row cus-observ margin-bottom">-->
                        <!-- Inner Form Items Responsive Column Start -->
                        <!--<div class="col rounded light-bg">-->
                            <!--<div class="custom-list list">
                                <div class="item item-button-right" ng-repeat="CustomObservation in CustomObservationList">
                                    {{CustomObservation.label}}
                                    <a class="button button-clear " ng-click="DeleteCustomObservation(CustomObservation)"><i class="icon icon-minus-circle"></i></a>
                                </div>
                            </div>-->
                            <!-- <label class="item item-input no-padding no-border">
                               <span class="input-label">Custom Observation</span>
                                 <input type="text" ng-model="NewDCModel.txtCustomObservation" controlid="txtCustomObservation" id="txtCustomObservation" />
                               <a class="button button-calm" ng-click="AddCustomObservation()">ADD</a>
                             </label>-->
                            <!--<div class="field-item">
                                <label>
                                    <div class="item item-button-right">
                                        <span>Custom Observation</span> <input type="text" ng-model="NewDCModel.txtCustomObservation" controlid="txtCustomObservation" id="txtCustomObservation" />
                                        <a class="button button-calm" ng-click="AddCustomObservation()">ADD</a>
                                    </div>
                                </label>
                            </div>
                        </div>-->
                        <!-- Inner Form Items Responsive Column End -->
                    <!--</div>-->
                    <!-- Inner Form Items Responsive Row End -->

                        <!-- Inner Form Items Responsive Row Start -->
                        <div class="row cus-observ margin-bottom">
                            <!-- Inner Form Items Responsive Column Start -->
                            <div class="col rounded light-bg">
                                <div class="custom-list list">
                                    <div class="item item-button-right" ng-repeat="CustomCorrectiveAction in CustomCorrectiveActionList">
                                        {{CustomCorrectiveAction.label}}
                                        <a class="button button-clear " ng-click="DeleteCustomCorrectiveAction(CustomCorrectiveAction)"><i class="icon icon-minus-circle"></i></a>
                                    </div>
                                </div>
                                <!--<label class="item item-input no-padding no-border">
                  <span class="input-label">Custom Action</span>
                    <input type="text" ng-model="NewDCModel.txtCustomCorrectiveAction" controlid="txtCustomCorrectiveAction" id="txtCustomCorrectiveAction" />
                  <a class="button button-calm" ng-click="AddCustomCorrectiveAction()">ADD</a>
                </label>-->
                                <div class="field-item">
                                    <label>
                                        <div class="item item-button-right">
                                            <span>Custom Action</span> <input type="text" ng-model="NewDCModel.txtCustomCorrectiveAction" controlid="txtCustomCorrectiveAction" id="txtCustomCorrectiveAction" />
                                            <a class="button button-calm" ng-click="AddCustomCorrectiveAction()">ADD</a>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- Inner Form Items Responsive Column End -->
                        </div>
               
                                                    
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row no-padding responsive-md multi-col">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_8306">
                            <div class="field-item with-icon">
                                <label>
                                    <span>{{'Incident Date' | xlat }}</span>
                                    <input type="date" ng-model="NewDCModel.txtIncidentDateControlId" controlid="txtIncidentDateControlId" id="txtIncidentDateControlId" />
                                    <i class="icon icon-calendar-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_8307">
                            <div class="field-item with-icon">
                                <label>
                                    <span>{{'Incident Time' | xlat }}</span>
                                    <input type="time" ng-model="NewDCModel.txtIncidentTimeControlId" controlid="txtIncidentTimeControlId" id="txtIncidentTimeControlId" />
                                    <i class="icon icon-clock-o"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->

                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg" id="Column_126">
                            <div class="field-item">
                                <label ng-click="PreControlEvents(120,'txtCommentsControlId',$event)">
                                    <span>{{'Comments' | xlat }}</span>
                                    <input type="text" ng-model="NewDCModel.txtCommentsControlId" controlid="txtCommentsControlId" id="txtCommentsControlId" />
                                </label>
                            </div>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                    <!-- Inner Form Items Responsive Row End -->
                    <!-- Inner Form Items Responsive Row Start -->
                    <!-- Section Divider / Section Title -->
                    <div class="title-bar rounded">{{'MultiMedia Details' | xlat}}</div>
                    <!-- Inner Form Items Responsive Row Start -->
                    <div class="row margin-bottom">
                        <!-- Inner Form Items Responsive Column Start -->
                        <div class="col rounded light-bg cam-photo">
                            <div ng-repeat="MultiMediaSubElement in MultiMediaSubElements">
                                <a href="{{MultiMediaSubElement.LocalURL}}" class="angularbox" rel="1"><img src="{{MultiMediaSubElement.LocalURL}}" alt="{{MultiMediaSubElement.AlternateName}}"></a>
                            </div>
                            <a class="button" ng-click="AttachPicture();"><i class="icon icon-camera"></i> Add</a>
                            <a class="button" ng-click="BrowsePicture();"><i class="icon icon-photo"></i> Browse</a>
                        </div>
                        <!-- Inner Form Items Responsive Column End -->
                    </div>
                </div>
                <!-- Main Column End -->
            </div>
            <!-- DC Form End -->
            <div class="row responsive-sm dc-button-holder margin-top-md">
                <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block button-calm" ng-click="ViewRecords()">{{'ViewRecords' | xlat }}</a>
                </div>
                <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block button-stable" ng-click="ClearForm()">{{'Clear' | xlat }}</a>
                </div>
                <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="AddRecords()">{{'Add' | xlat }}</a>
                </div>
                <div class="col no-padding">
                    <a href="javascript:void(0)" class="button button-block  button-calm" ng-click="SubmitRecords()">{{'SaveSubmit' | xlat }}</a>
                </div>
            </div>
        </div>
    </div>
</div>